---
---
// Import the Minimal Mistakes skin and theme
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Site overrides */
.author__avatar {
  width: 500px;   /* Adjust to your preference */
  height: 500px;  /* Keep square for circular crop */
}

@media (max-width: 900px) {
  .author__avatar {
    width: 300px;
    height: 300px;
  }
}

